/* Reset and base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

/* App container */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* General utility classes */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
